<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.config.CartItemsMapper">

    <resultMap id="CartItemResultMap" type="com.exam.entity.CartItems">
        <id column="cart_item_id" property="cartItemId"/>
        <result column="cart_id" property="cartId"/>
        <result column="product_id" property="productId"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <select id="findByCartId" resultMap="CartItemResultMap">
        SELECT * FROM cart_items WHERE cart_id = #{cartId}
    </select>


    <select id="findByCartIdAndProductId" resultMap="CartItemResultMap">
        SELECT * FROM cart_items WHERE cart_id = #{cartId} AND product_id = #{productId}
    </select>


    <insert id="insertCartItem" parameterType="com.exam.entity.CartItems">
        INSERT INTO cart_items (cart_id, product_id, amount)
        VALUES (#{cartId}, #{productId}, #{amount})
    </insert>

    <update id="updateCartItem" parameterType="com.exam.entity.CartItems">
        UPDATE cart_items
        SET amount = #{amount}
        WHERE cart_item_id = #{cartItemId}
    </update>

</mapper>
