<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.config.DeliveryAddressMapper">
 
   
   <select id="findByUserId" resultType="DeliveryAddressDTO" parameterType="int">
      select delivery_address_id as deliveryAddressId, user_id as userId, address_type as addressType, delivery_name as deliveryName, address1, address2, post, phone1, phone2, phone3, is_default as isDefault
      from delivery_address
      where user_id=#{userId} 
   </select>
   
   
</mapper>