<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.config.OrderDetailsMapper">


	<!-- 카트아이디로 카트에서 userid 조회하기 -->
	<!-- 이게필요가있나? -->
	<select id="findOrder" resultType="OrdersDTO"
		parameterType="int">
		select user_id as userId
		from carts
		where
		cart_id=#{cartId}
	</select>


	<!-- 카트아이디로 프로덕트-cartitems join해서 orderDetails조회하기 -->
	<select id="findOrderDetails" resultType="OrderDetailsDTO"
		parameterType="int">
		select
		ci.product_id as productId, ci.amount as amount,
		ci.shipping as shipping, p.product_price as
		totalPrice,
		p.product_image
		as productImage,
		p.product_name as productName,
		p.product_price as
		productPrice
		from cart_items ci
		join products p on ci.product_id =
		p.product_id
		where ci.cart_id =
		#{cartId}
	</select>




	<!-- 주문번호로 orderDetails랑 products join하기 (resultmap x) -->
	<select id="findOrderDetailsProducts"
		resultType="OrderDetailsDTO" parameterType="int">
		SELECT
		od.order_detail_id AS
		orderDetailId,
		od.product_id AS productId,
		od.order_id AS orderId,
		od.amount as amount,
		od.total_price as totalPrice,
		od.shipping as shipping,

		p.product_name as productName,
		p.product_price as
		productPrice,
		p.product_image as
		productImage
		FROM order_details od
		JOIN
		products p ON od.product_id =
		p.product_id
		WHERE od.order_id =
		#{orderId}
	</select>


	<!-- userid로 order, orderDetails 같이 조회하기 -->
	<select id="FindOrdersAndDetails" resultType="OrdersAccountDTO"
		parameterType="int">
		SELECT
			o.order_id AS orderId,
			o.user_id AS userId,
			o.order_date AS orderDate,
			SUM(od.total_price) AS totalPrice
		FROM
			orders o
			JOIN
			order_details od ON o.order_id = od.order_id
		WHERE o.user_id = #{user_id}
		GROUP BY o.order_id;


	</select>

</mapper>
