<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.config.ProductsMapper">

    <!-- resultMap declaration -->
    <resultMap id="ProductResultMap" type="com.exam.entity.Products">
        <id column="product_id" property="productId"/>
        <result column="category_id" property="categoryId"/>
        <result column="discount_id" property="discountId"/>
        <result column="product_name" property="productName"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_image" property="productImage"/>
        <result column="product_description" property="productDescription"/>
        <result column="unit" property="unit"/>
        <result column="value" property="value"/>
        <result column="product_qr" property="productQr"/>
        <result column="product_code" property="productCode"/>
        <result column="product_date" property="productDate"/>
    </resultMap>

    <!-- SQL statement with the resultMap reference -->
    <select id="findAll" resultMap="ProductResultMap">
        SELECT * FROM products
    </select>

</mapper>
